/*General style*/

header {
    top: 0;
    position: fixed;
    height: 64px;
    background-color: white;
    width: 100%;
    z-index: 10;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.banner {
    background-color: lightgray;
    width: 100%;
    top: 64px;
    position: relative;
}

.button-container button {
    background-color: grey;
    width: 80%;
    height: 40px;
}

.button-container button a {
    padding: 8px;
}

.button-container {
    width: 100%;
    }

.courses-title, .thesis-title {
    width: 100%;
    text-align: center;
    padding-top: 32px; 
}

.courses-title h2, .thesis-title h2 {
    margin: 0;
}

/*Mobile style*/

@media  (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    .text {
        display: none;
    }
    
    .name {
        display: none;
    }

    .banner img {
        width: 100%;
    }

    .banner_info {
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
    }
    
    .banner_info h1 {
        padding: 32px 0;
        margin: 0;
    }

    .banner_info h2 {
        margin-top: 0;
        margin-bottom: 24px;
    }

    .button-container {
        width: 100%;
        text-align: center;
        padding-bottom: 32px;
    }

    .desktop {
        display: none;
    }

    .practice-advice {
        display: none;
    }

    .information, .reimagine-urban {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }

    .information {
        margin-top: 64px;
    }

    .information img {
        padding-left: 16px;
        padding-right: 16px;
    }

    .reimagine-urban video {    
        width: 100%;
        object-fit: contain;
    }

    .orientation img, .fisma img {
        padding-top: 16px;
        width: 100%;
        box-sizing: border-box;
    }

    .orientation h3, .orientation p, .orientation a, .fisma h3, .fisma p {
        padding-left: 32px;
    }

    .orientation {
        padding-bottom: 64px;
    }
    

    .campus img, .now-and-than img {
        width: 100%;
        box-sizing: border-box;
    }

    .campus h3, .campus p, .campus a, .now-and-than h3, .now-and-than p {
        padding-left: 32px;
    }

    .campus, .now-and-than {
        padding-bottom: 64px;
    }

    .lecture img {
        width: 100%;
        box-sizing: border-box;
    }

    .lecture h3, p, a {
        padding-left: 32px;
    }

    .lecture {
        padding-bottom: 32px;
    }

    .courses-title, .thesis-title {
        padding-bottom: 16px;
    }

    .desktop-course {
        display: none;
    }

    .courses {
        padding-bottom: 32px;
    }

    .course {
        background-color: gray;
        margin: 8px 16px;
    }

    .course h3 {
        padding: 16px 16px 24px 16px;
    }

    .thesis .right-side {
        display: none;
    }

    .footer-li {
        display: none;
    }

    footer {
        margin-top: 24px;
    }

    footer p {
        padding: 16px 16px 0 16px;
        margin-bottom: 0;
    }
}

/*Desktop style*/

@media screen and (min-width: 600px) { 
    #logo {
        margin-left: 24px;
        position: absolute;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    #colmar {
        font-weight: bold;
    }

    .name {
        position: absolute;
        margin-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    nav {
        padding-right: 24px;
        float: right;
        font-size: 20px;
    }

    nav li, .text {
        display: inline;
    }

    #icon {
        display: none;
    }

    .banner {
        display: flex;
        align-items: center;
    }

    .banner img {
        width: 60%;
        padding: 32px 24px;
    }

    .mobile {
        display: none;
    }

    .information, .thesis {
        display: flex;
        position: relative;
        width: 100%;
    }

    .information {
        margin-top: 64px;
    }

    .practice-advice, .reimagine-urban {
        box-sizing: border-box;
        width: 60%;
        padding: 32px 24px;
    }

    .practice-advice img {
        width: 100%;
    }

    .reimagine-urban video {
        width: 100%;
    }

    .practice-advice h2, .practice-advice p, .reimagine-urban h2, .reimagine-urban p {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .orientation, .fisma {
        padding-top: 16px;
    }

    .right-side {
        width: 40%;
        border-left: 1px solid gray;
        box-sizing: border-box;
    }

    .orientation, .campus, .lecture, .fisma, .now-and-than {
        display: flex;
        align-items: center;
    }

    .orientation img, .campus img, .lecture img, .fisma img, .now-and-than img {
        width: 35%;
        height: auto;
        padding: 16px 16px;
    }

    .details p {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .details h3, a, p {
        margin: 0;
    }

    .campus, .now-and-than {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }

    .courses-container {
        background-color: lightgrey;
        box-sizing: border-box;
    }

    .courses {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 56px;
        box-sizing: border-box;
        margin-right: 56px;
    }

    .courses-title, .thesis-title {
        padding-bottom: 16px;
    }

    .course {
        margin: 16px 16px;
        box-sizing: border-box;
        width: 29%;
        background-color: white;
    }

    .course img {
        width: 100%;
    }

    .course h3 {
        margin-top: 16px;
        margin-bottom: 16px; 
    }

    .desktop-course p {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    footer {
        width: 100%;
    }

    footer p {
        float: left;
        padding-top: 16px;
        margin-left: 24px;
    }

    .footer-li {
        list-style-type: none;
        float: right;
        margin: 0;
        padding-top: 16px;
        margin-right: 24px;
    }   

    .footer-li li {
        display: inline;

    }
}
